:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #006CFF;
  --color-secondary: #61DEA4;
  --color-light: #EBEFF5;
  --color-text: #455f7c;

  --size-container: 800px;
  --size-radius: 4px;
}

body {
  margin: 0;
  padding: 0;
}
