:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #006cff;
  --color-secondary: #61dea4;
  --color-light: #ebeff5;
  --color-text: #252a31;
  --color-white: #fff;

  --color-error: #f45e6d;

  --size-container: 1160px;
  --size-radius: 4px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
